@import 'tailwindcss';
@import './fonts.css';

@theme {
  --font-inter: 'Inter', Arial, Helvetica, sans-serif;
  --font-limelight: 'Limelight', Tahoma, Verdana, sans-serif;
  --font-merriweather: 'Merriweather', Verdana, sans-serif;

  --color-primary: #0a0a0a;
  --color-secondary: #18181b;
}
