---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Página no encontrada">
  <main
    class="min-h-screen flex flex-col items-center justify-center text-center px-4"
  >
    <h1 class="text-5xl font-bold text-red-500 mb-4">404</h1>
    <p class="text-xl text-gray-300 mb-6">
      Lo sentimos, no hemos encontrado esa página.
    </p>
    <a href="/" class="text-indigo-400 hover:underline">Volver al inicio</a>
  </main>
</Layout>
