---
import Layout from '@layouts/Layout.astro'
import WarpBackground from '@components/WarpBackground.tsx'
import LoginForm from '@sections/Cuestionarios/LoginForm.astro'

const error = Astro.url.searchParams.get('error')
---

<Layout title="Iniciar sesión | RallyShot">
  <main
    class="min-h-screen bg-zinc-900 flex flex-col items-center justify-start pt-24"
  >
    <div class="relative w-full max-w-md">
      <div
        class="absolute inset-[-50px] z-0 rounded-2xl overflow-hidden border border-gray-700 scale-105"
      >
        <WarpBackground
          color1="#0f172a"
          color2="#1e3a8a"
          color3="#6366f1"
          speed={0.3}
          swirl={2.0}
          swirlIterations={10}
          shapeScale={0.6}
          client:load
        />
      </div>

      <!-- Componente del formulario -->
      <LoginForm error={error} />
    </div>
  </main>
</Layout>
