---
import Layout from '@layouts/Layout.astro'
import RegisterForm from '@sections/Cuestionarios/RegisterForm.astro'

const error = Astro.url.searchParams.get('error')
---

<Layout>
  <main
    class="min-h-screen flex justify-center items-start pt-16 pb-16 bg-zinc-900"
  >
    <RegisterForm error={error} />
  </main>
</Layout>
