---
import Layout from '@layouts/Layout.astro'
export const prerender = false
---

<Layout>
  <section
    class="max-w-xl mx-auto mt-16 p-6 rounded-lg border border-gray-700 bg-primary mb-12"
  >
    <h1 class="text-xl font-semibold mb-6 text-gray-200">Verifica tu cuenta</h1>
    <form id="verifForm" class="space-y-4">
      <label class="block text-sm text-gray-200 font-semibold">
        ID de usuario
        <input
          required
          name="userId"
          id="userId"
          class="mt-1 w-full p-3 rounded border border-gray-700 bg-primary text-white text-sm shadow-sm font-normal"
        />
      </label>
      <label class="block text-sm text-gray-200 font-semibold">
        Código de verificación
        <input
          required
          name="codigo"
          id="codigo"
          class="mt-1 w-full p-3 rounded border border-gray-700 bg-primary text-white text-sm shadow-sm font-normal"
        />
      </label>
      <div class="flex justify-end gap-4 pt-2">
        <button
          type="submit"
          class="mt-6 inline-flex items-center gap-2 px-3 py-2 bg-blue-800 text-white text-sm border border-blue-500 rounded-md hover:opacity-85 hover:border-blue-400 transition shadow cursor-pointer"
        >
          Confirmar
        </button>
      </div>
    </form>
    <p id="message" class="mt-4 text-sm font-normal text-gray-200"></p>
  </section>

  <script type="module" is:inline>
    const form = document.getElementById('verifForm')
    const message = document.getElementById('message')
    const userIdInput = document.getElementById('userId')
    const codigoInput = document.getElementById('codigo')

    const params = new URLSearchParams(window.location.search)
    if (params.get('userId')) userIdInput.value = params.get('userId')
    if (params.get('codigo')) codigoInput.value = params.get('codigo')

    form.addEventListener('submit', async (e) => {
      e.preventDefault()
      const data = {
        userId: userIdInput.value.trim(),
        codigo: codigoInput.value.trim(),
      }

      try {
        const res = await fetch('/api/verificar', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data),
        })

        const result = await res.json()

        if (res.ok) {
          message.textContent =
            'Cuenta verificada correctamente. Redirigiendo...'
          message.className = 'mt-4 text-sm font-normal text-green-400'
          setTimeout(() => (window.location.href = '/login'), 3000)
        } else {
          message.textContent = result.error || 'Error al verificar'
          message.className = 'mt-4 text-sm font-normal text-red-400'
        }
      } catch (err) {
        console.error('❌ Error al verificar:', err)
        message.textContent = 'Error inesperado. Intenta más tarde.'
        message.className = 'mt-4 text-sm font-normal text-red-400'
      }
    })
  </script>
</Layout>
